body {
    color: #000000;
    font-family: Verdana;
    font-size: small ;
    background-color: #3c312f;
    line-height: 1.5;
}

div.pageStructure {
    margin:    5px auto 5px auto;
}

div.navigationLeft {
    float: left;
    width: 160px;
    margin: 0px 5px 0px 0px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #343434;
}

div.navigationTop {
    margin: -50px 5px 5px 250px;
    height: 40px;
}

div.mainContent {
    background-color: #c5dc2c;
    padding: 10px;
}

div.contentRight {
    overflow: auto;
    background-color: white;
    border: 1px solid #343434;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
}

div.footer {
    background-color:           #02369c;
    text-align:                 center;
    color:                      white;
    font-weight:                bold;
    height:                     30px;
    border-bottom-left-radius:  7px;
    border-bottom-right-radius: 7px;
    padding-top:                10px;
}

div.header {
    background-color:           #02369c;
    border-bottom:              0;
    color:                      white;
    font-weight:                bold;
    height:                     150px;
    border-top-left-radius:     7px;
    border-top-right-radius:    7px;
}

div.headerText {
    margin: 50px 10px 0 30px;
    font-size: 30pt;
    display: inline-block;
    text-shadow: 3px 3px #676767;
}