li.ui-state-focus a{
    color: black;
}

div.acpPageStructure {
    width: 1200px;
    margin: auto;
}

div.acpPageStructure .mainContent {
    width: 1000px;
    padding-left: 20px;
    display: table-cell;
}

div.leftNavigation {
    width: 200px;
    padding: 0 5px 5px 5px;
    margin: 0;
    background: #26919c;
    display: table-cell;
}

div.leftNavigation div {
    background: #efefef;
}

div.leftNavigation h3 {
    /*background: linear-gradient(to bottom, #26919c , #1a606b, #26919c);*/
    /*color: white;*/
    /*border: 1px solid #676767;*/
    /*border-radius: 5px;*/
    background: linear-gradient(to bottom, #f5ffcd, #efefef);
    color: #26919c;
    border: 1px solid #676767;
    border-radius: 5px;
}

div.leftNavigation li {
    padding: 5px 5px 5px 0;
    list-style-type: none;
    font-size: 9pt;
}

div.leftNavigation ul {
    padding: 0;
    margin: 0;
}