input {
    border: 1px solid #676767;
    border-radius: 5px;
    padding: 3px;
    text-align: right;
}

input:focus {
    background-color: #dedede
}

.label {
    font-weight: bold;
    color: #121212;
    vertical-align: top;
}

.submitButton {
    margin-top: 5px;
    font-weight: bold;
    color: #c5dc2c;
    background-color: #02369c;
}

.submitButton:hover {
    color: #02369c;
    background-color: #c5dc2c;
    cursor: pointer;
}

/*table.form td.content p{*/
    /*border: 1px solid #898989;*/
    /*border-radius: 5px;*/
    /*background-color: #cdcdcd;*/
    /*display: inline-block;*/
    /*height: 16px;*/
    /*padding: 0px 3px 3px 3px;*/
    /*margin: 0px 0px -4px;*/
/*}*/

.formWidth100 {
    min-width: 100px;
    display: inline-block;
}

.formWidth150 {
    min-width: 150px;
    display: inline-block;
}

.formWidth200 {
    min-width: 200px;
    display: inline-block;
}

/*.formWidth250 {*/
    /*width: 250px;*/
/*}*/

/*table.form td.content {*/
    /*text-align: right;*/
    /*max-width: 200px;*/
    /*white-space: inherit;*/
    /*display: inline-block;*/
    /*overflow: auto;*/
/*}*/

/*table.form {*/
    /*background-color: #FFFFFF;*/
    /*border: 1px solid #676767;*/
    /*border-radius: 10px;*/
    /*padding: 15px;*/
/*}*/

/*.cell div {*/
    /*display: inline-block;*/
    /*width: 100%;*/
    /*padding: 2px;*/
/*}*/
/*-------------------------------------------------------------*/
form.input {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #676767;
    box-shadow: 2px 2px #454545;
    display: inline-block;
}

table.form {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

table.form td {
    vertical-align: middle !important;
    padding: 5px;
    text-align: left;
    max-width: 250px;
}

table.form td.content {
    text-align: right;
}

table.form td:first-child {
    padding-right: 30px;
}

table.form td.orderAmount {
    text-align: right;
}

table.form th {
    padding: 3px;
    font-weight: bold;
    font-size: 10pt;
    border-bottom: 1px solid #787878;
    text-align: center;
}

/*input.inputelement {*/
    /*display: inline-block;*/
/*}*/

input.notFilled {
    border: 1px solid red;
    background: #ffd6d3;
}

div.inputelement {
    border: 1px solid #676767;
    border-radius: 5px;
    padding: 3px;
    background-color: #efefef;
    display: inline-block;
}

div.inputelement .numeric {
    text-align: right;
}

div.mnConnection {
    height: 100px;
    overflow: auto;
    text-align: left;
    padding: 3px;
    border: 1px solid #676767;
    border-radius: 5px;
}

div.mnConnection p {
    margin:3px;
}

div#editButtons {
    border-radius: 5px;
    display: table;
    background: transparent;
    border-spacing: 10px;
}

a.submitLink {
    margin: 10px;
    border: 1px solid #767676;
    border-radius: 5px;
    background-color: white;
    padding: 5px;
    display:table-cell;
    text-wrap: normal;
    width: 75px;
    text-align: center;
    height: 30px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 8pt;
    box-shadow: 2px 2px #454545;
}

a.submitLink:hover {
    box-shadow: none;
}

input.readonly {
     color: #787878;
 }

select[readonly]{
    background: #eee;
}

select[readonly] option {
    display: none;
}

select[readonly] option:checked {
    display: inline;
}